
@media all and (max-width:1400px) and (min-width:1000px)
{
    #contactcontainer{
    width: 85%;
    padding: 5px;
    margin: auto;
    display: grid;
    grid-template-columns:66% 34%;
    
    gap:20px;
    justify-content: center;
}
.maincontact{
    padding: 20px;
    padding-top: 100px;
}
.maincontact>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 40px;

}
.maincontact:nth-child(1)>div{
    width: 97%;
    display: flex;
    gap:10px;
    margin: auto;
    margin-bottom: 20px;
    justify-content: space-between;
    gap:5px;
    align-items: center;
}
.maincontact:nth-child(1)>div>input{
    width: 46%;
    height: 40px;
    padding: 4px 10px;
    border:none;
    border-bottom: 1px solid rgb(223, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:gray;


}

    #class2{
    width: 97%;
    display: block;
    
    margin-top: 10px;

}
#area{
width: 97%;
height: 60px;
padding: 30px 10px;
border:none;
font-family: Arial, Helvetica, sans-serif;
border-bottom: 1px solid rgb(223, 221, 221);
font-size: 16px;
color:gray;
}
#contactbtn{
    margin-top: 50px;
    height: 50px;
    width: 99%;
    padding: 4px 10px;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(238, 185, 88);
    border-radius: 4px;
    text-align: left;
}
#contactbtn:hover{
    cursor: pointer;
}
#contactcontainer>.maincontact:nth-child(2){
    background-color: rgb(248, 248, 248);
    padding: 80px 40px;
}
.maincontact:nth-child(2)>h1{
    margin-bottom: 0px;
}

p>span{
    color:black;
}
p+br+p>span{
    font-weight: bold   ;
}

p{
    line-height: 24px;
    color:gray;
}
p>span:hover{
    color:orange;
    cursor: pointer;
}
#bottomcontainer{
    display: flex;
    margin-top: -5px;
    width: 100%;
    padding: 28px 0px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 246, 247);
    margin-bottom: 20px;
}
#bottomcontainer>div>h1{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
margin-bottom: -12px;

}
#bottomcontainer>div>p{
    
    font-family: sans-serif;
    font-size: 19px;
    color: gray;
    font-weight: 100;
}
#bottomcontainer>div>input{
    width: 30vw;
    height: 6vh;
    border:none;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 5px;
    margin-right: 6px;
}
#bottomcontainer>div>button{
    width: 140px;
    height: 7.2vh;
    padding: 5px 10px;
    background-color: rgb(235, 180, 79);
    border: none;
    border-radius: 4px;
}
#bottomcontainer>div>button:hover{
    cursor: pointer;
}
}

@media all and (max-width:999px) and (min-width:770px)
{
    #contactcontainer{
    width: 85%;
    padding: 5px;
    margin: auto;
    display: grid;
    grid-template-columns:400px 330px;
    
    
    justify-content: center;
}
.maincontact{
    padding: 20px;
    padding-top: 100px;
}
.maincontact>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 42px;

}
.maincontact:nth-child(1)>div{
    width: 97%;
    display: grid;
    grid-template-columns: repeat(1,auto);
    gap:10px;
    margin: auto;
    margin-bottom: 20px;
    justify-content: space-between;
    gap:5px;
    align-items: center;
}
.maincontact:nth-child(1)>div>input{
    
    height: 40px;
    padding: 4px 10px;
    border:none;
    border-bottom: 1px solid rgb(223, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:gray;


}

    #class2{
    width: 97%;
    display: block;
    
    margin-top: 10px;

}
#area{
width: 97%;
height: 60px;
padding: 30px 10px;
border:none;
font-family: Arial, Helvetica, sans-serif;
border-bottom: 1px solid rgb(223, 221, 221);
font-size: 16px;
color:gray;
}
#contactbtn{
    margin-top: 50px;
    height: 50px;
    width: 99%;
    padding: 4px 10px;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(238, 185, 88);
    border-radius: 4px;
    text-align: left;
}
#contactbtn:hover{
    cursor: pointer;
}
#contactcontainer>.maincontact:nth-child(2){
    background-color: rgb(248, 248, 248);
    padding: 80px 50px;
}
.maincontact:nth-child(2)>h1{
    margin-bottom: 0px;
}

p>span{
    color:black;
}
p+br+p>span{
    font-weight: bold   ;
}

p{
    line-height: 24px;
    color:gray;
}
p>span:hover{
    color:orange;
    cursor: pointer;
}
#bottomcontainer{
    display: flex;
    margin-top: -5px;
    width: 100%;
    padding: 28px 0px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 246, 247);
    margin-bottom: 20px;
}
#bottomcontainer>div>h1{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
margin-bottom: -12px;

}
#bottomcontainer>div>p{
    
    font-family: sans-serif;
    font-size: 19px;
    color: gray;
    font-weight: 100;
}
#bottomcontainer>div>input{
    width: 30vw;
    height: 6vh;
    border:none;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 5px;
    margin-right: 6px;
}
#bottomcontainer>div>button{
    width: 140px;
    height: 7.2vh;
    padding: 5px 10px;
    background-color: rgb(235, 180, 79);
    border: none;
    border-radius: 4px;
}
#bottomcontainer>div>button:hover{
    cursor: pointer;
}
}


@media all and (max-width:769px) and (min-width:20px)
{
    #contactcontainer{
    width: 100%;
    padding: 5px 0px;
    margin: auto;
    display: grid;
    grid-template-columns:100%;
    
    
    justify-content: center;
}
.maincontact{
    padding: 20px;
    padding-top: 100px;
}
.maincontact>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 42px;

}
.maincontact:nth-child(1)>div{
    width: 97%;
    display: grid;
    grid-template-columns: repeat(1,97%);
    gap:10px;
    margin: auto;
    margin-bottom: 20px;
    justify-content: space-between;
    gap:5px;
    align-items: center;
}
.maincontact:nth-child(1)>div>input{
    
    height: 40px;
    padding: 4px 10px;
    border:none;
    border-bottom: 1px solid rgb(223, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:gray;


}

    #class2{
    width: 97%;
    display: block;
    
    margin-top: 10px;

}
#area{
width: 97%;
height: 60px;
padding: 30px 10px;
border:none;
font-family: Arial, Helvetica, sans-serif;
border-bottom: 1px solid rgb(223, 221, 221);
font-size: 16px;
color:gray;
}
#contactbtn{
    margin-top: 50px;
    height: 50px;
    width: 99%;
    padding: 4px 10px;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(238, 185, 88);
    border-radius: 4px;
    text-align: left;
}
#contactbtn:hover{
    cursor: pointer;
}
#contactcontainer>.maincontact:nth-child(2){
    background-color: rgb(248, 248, 248);
    padding: 10px 50px;
    margin-top: 20px;
}
.maincontact:nth-child(2)>h1{
    margin-bottom: 0px;
}

p>span{
    color:black;
}
p+br+p>span{
    font-weight: bold   ;
}

p{
    line-height: 24px;
    color:gray;
}
p>span:hover{
    color:orange;
    cursor: pointer;
}
#bottomcontainer{
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(3,auto);
    margin-top: -5px;
    width: 100%;
    padding: 28px 0px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 246, 247);
    margin-bottom: 50px;
}
#bottomcontainer>div>h1{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
margin-bottom: -12px;
margin-left: 10px;

}
#bottomcontainer>div>p{
    
    font-family: sans-serif;
    font-size: 19px;
    color: gray;
    font-weight: 100;
    margin-left: 10px;
    
}
#bottomcontainer>div>input{
    width: 96%;
    display: block;
    height: 6vh;
    border:none;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 5px;
    margin-right: 6px;
}
#bottomcontainer>div>button{
    margin-top: 20px;
    width: 97.4%;
    height: 7.2vh;
    padding: 5px 10px;
    background-color: rgb(235, 180, 79);
    border: none;
    border-radius: 4px;
}
#bottomcontainer>div>button:hover{
    cursor: pointer;
}
}