    @media all and (max-width:1400px) and (min-width:1000px)
    {
#container{
    width: 85%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px 10px;
}
#footer{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3,auto);
    margin: auto;
    justify-content: space-between;

}

.part{
 width: 100%;


}
p{
    font-family: Arial, Helvetica, sans-serif;
}
#footer>.part>.main{
    font-size: 18px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.817);

}

.part>p>a{
    color: gray;
    font-size: 15.4px;
    line-height: 22px;
    font-weight: 300;
    text-decoration: none;
}
#footer>.part>.main:hover{
    color:black;
    cursor:auto;
}
.part:nth-child(1)>p>a:hover{
    color:orange;
    cursor: pointer;
}
#social{
    width: 16%;
    margin: auto;
    display: flex;
    gap:10px;
    margin: auto;
    margin-top: 20px;
    
    justify-content: space-between;

}


#social>div>a{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color:black;
        
}

#social>div{
    color:black;
    padding: 6px 10px;
    background-color: rgb(244, 239, 239);
    border-radius: 50%; 

}

#social>div:hover{
    cursor: pointer;
}
#social>div:nth-child(1):hover{
    background-color: rgb(33, 33, 184);
    color:white;
}
#social>div:nth-child(2):hover{
    background-color: rgb(16, 137, 211);
}
#social>div:nth-child(3):hover{
    background-color:red;
    
}


#social>div:nth-child(4):hover{
    background-color: red;
    
}

#social>div>a>img{
    width: 15px;
    height: 15px;
    border-radius: 50%;

}


#social+p{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    color: rgb(153, 151, 151);
    text-align: center;
    font-size: 17px;
}

.part:nth-child(2)>p{
    color: gray;
    font-size: 16px;
line-height: 24px;
    margin-left: 0px;
}
.part:nth-child(2)>p:nth-child(2)>span{
    color:rgb(124, 123, 123);
    font-weight: bold;

    
}
.part:nth-child(2)>p>span:hover{
    cursor:pointer;
    color:orange;
}
.part:nth-child(3)>p{
    color:rgb(146, 145, 145);
    font-size: 13px;
    line-height: 30px;
    margin-left: 10px;

}
.part>input{
    width: 16vw;
    height: 4vh;
    padding: 6px 10px;
    margin: 6px 0px;
    border-radius: 10px;
    border:none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.part>#btn:hover{
    background-color: black;
    cursor: pointer;
}
.part>#btn{
    width: 8vw;
    height: 6vh;
    border-radius: 10px;
    border: none;
    background-color: rgb(202, 160, 82);
    color:white;
    margin-left: 10px;
    
}
    }


    @media all and (max-width:999px) and (min-width:770px)
     {
     
        #container{
            width: 85%;
            margin: auto;
            margin-top: 40px;
            border-radius: 10px;
            padding: 20px 10px;
            margin-right: 10%;
        }
        #footer{
            width: 100%;
            
            display: grid;
            grid-template-columns: repeat(2,auto);
            grid-template-rows: 160px 240px;
            
            
            margin: auto;
            justify-content: space-around;

               
        }
       
       .part{
        width: 100%;
        
       }
       .part:nth-child(3){
        position: relative;
        left:120%;
        right: 60%;
       }

        p{
            font-family: Arial, Helvetica, sans-serif;
        }
        #footer>.part>.main{
            font-size: 18px;
            font-weight: 200;
            color: rgba(0, 0, 0, 0.817);
        
        }
        
        .part>p>a{
            color: gray;
            font-size: 15.4px;
            line-height: 22px;
            font-weight: 300;
            text-decoration: none;
        }
        #footer>.part>.main:hover{
            color:black;
            cursor:auto;
        }
        .part:nth-child(1)>p>a:hover{
            color:orange;
            cursor: pointer;
        }
        #social{
            width: 20%;
            margin: auto;
            display: flex;
            margin-right: 20%;
            gap:10px;
            
            margin-top: 20px;
            
            justify-content: space-between;
        
        }
        #media{
            display: flex;
            width: 90%;
            justify-content: space-around;
            margin: auto;
            margin-left:16%;
            
            
        }
        
        #social>div>a{
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            color:black;
                
        }
        
        #social>div{
            color:black;
            padding: 6px 10px;
            background-color: rgb(244, 239, 239);
            border-radius: 50%; 
            
        }
        
        #social>div:hover{
            cursor: pointer;
        }
        #social>div:nth-child(1):hover{
            background-color: rgb(33, 33, 184);
            color:white;
        }
        #social>div:nth-child(2):hover{
            background-color: rgb(16, 137, 211);
        }
        #social>div:nth-child(3):hover{
            background-color:red;
            
        }
        
        
        #social>div:nth-child(4):hover{
            background-color: red;
            
        }
        
        #social>div>a>img{
            width: 15px;
            height: 15px;
            border-radius: 50%;
        
        }
        
        
        #media>p{
            
            margin: auto;
            margin-top: 30px;
            color: rgb(153, 151, 151);
            text-align: center;
            font-size: 18px;
            margin-right: 15%;
            line-height: 24px;
            margin-top: 3%;
            text-align: center;
        }
        
        .part:nth-child(2)>p{
            color: gray;
            font-size: 16px;
        line-height: 24px;
            margin-left: 0px;
        }
        .part:nth-child(2)>p:nth-child(2)>span{
            color:rgb(124, 123, 123);
            font-weight: bold;
        
            
        }
        .part:nth-child(2)>p>span:hover{
            cursor:pointer;
            color:orange;
        }
        .part:nth-child(3)>p{
            color:rgb(146, 145, 145);
            font-size: 13px;
            line-height: 30px;
            margin-left: 10px;
            
        
        }
        .part>input{
            width: 22vw;
            height: 4vh;
            padding: 6px 20px;
            margin: 6px 0px;
            border-radius: 10px;
            border:none;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            
        }
        .part>#btn:hover{
            background-color: black;
            cursor: pointer;
        }
        .part>#btn{
            width: 10vw;
            height: 6vh;
            font-size: 9px;
            border-radius: 10px;
            border: none;
            background-color: rgb(202, 160, 82);
            color:white;
            margin-left: 10px;
            
        }
        

    }


    @media all and (max-width:769px) and (min-width:10px) {
     
        #container{
            width: 95%;
            margin: auto;
            
            margin-top: 40px;
            border-radius: 10px;
            padding: 20px 20px;
            
        }
        #footer{
            width: 100%;
            margin: auto;
            justify-content: space-around;

               
        }
       
       .part{
        width: 100%;
        
       }
       .part:nth-child(2){
        text-align: center;
       }

        p{
            font-family: Arial, Helvetica, sans-serif;
        }
        #footer>.part>.main{
            font-size: 18px;
            font-weight: 200;
            color: rgba(0, 0, 0, 0.817);
        
        }
        
        .part>p>a{
            color: gray;
            font-size: 15.4px;
            line-height: 22px;
            font-weight: 300;
            text-decoration: none;
        }
        #footer>.part>.main:hover{
            color:black;
            cursor:auto;
        }
        .part:nth-child(1)>p>a:hover{
            color:orange;
            cursor: pointer;
        }
        #social{
            width: 20%;
            margin: auto;
            display: flex;
            
            gap:10px;
             margin-top: 20px;
            justify-content: space-around;
        
        }
        #media{
            
            width: 90%;
            
            margin: auto;
            
            
            
        }
        
        #social>div>a{
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            color:black;
                
        }
        
        #social>div{
            color:black;
            padding: 6px 10px;
            background-color: rgb(244, 239, 239);
            border-radius: 50%; 
            
        }
        
        #social>div:hover{
            cursor: pointer;
        }
        #social>div:nth-child(1):hover{
            background-color: rgb(33, 33, 184);
            color:white;
        }
        #social>div:nth-child(2):hover{
            background-color: rgb(16, 137, 211);
        }
        #social>div:nth-child(3):hover{
            background-color:red;
            
        }
        
        
        #social>div:nth-child(4):hover{
            background-color: red;
            
        }
        
        #social>div>a>img{
            width: 15px;
            height: 15px;
            border-radius: 50%;
        
        }
        
        
        #media>p{
            
            margin: auto;
            margin-top: 30px;
            color: rgb(153, 151, 151);
            text-align: center;
            font-size: 18px;         
            margin-top: 3%;
            text-align: center;
        }
        
        .part:nth-child(2)>p{
            color: gray;
            font-size: 16px;
        line-height: 24px;
            margin-left: 0px;
        }
        .part:nth-child(2)>p:nth-child(2)>span{
            color:rgb(124, 123, 123);
            font-weight: bold;
        
            
        }
        .part:nth-child(2)>p>span:hover{
            cursor:pointer;
            color:orange;
        }
        .part:nth-child(3)>p{
            color:rgb(146, 145, 145);
            font-size: 13px;
            line-height: 30px;
            margin-left: 10px;
            
        
        }
        .part>input{
            width: 88vw;
            height: 4vh;
            padding: 6px 6px;
            margin: 6px 0px;
            border-radius: 10px;
            border:none;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            
        }
        .part>#btn:hover{
            background-color: black;
            cursor: pointer;
        }
        .part>#btn{
            width: 90vw;
            height: 6vh;
            font-size: 9px;
            border-radius: 10px;
            border: none;
            background-color: rgb(202, 160, 82);
            color:white;
            
            
        }
        

    }