*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.late {
    font-size: 36px;
    line-height: 36px;
    color: #222;
    display: inline-block;
    margin-bottom: 30px;
    letter-spacing: -.5px;
    margin-left: 490px;
    align-items: center;
    border-bottom: 2px double #e5b95f;
    padding: 21px;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    font-weight: normal;
    width: 30%;
}

#bag{
    height: 320px;
    width: 85%;
    display: flex;
    box-sizing: border-box;
    margin: auto;
    padding-top: 60px;
    margin-bottom: 80px;
  }

  .twoImg{
    height: 100%;
    width: 32%;
    margin: auto;
    padding-left: 25px;
    font-size: 14px;
    line-height: 1px;
  }

  .twoImg2{
    width: 100%;
  }

  .twoImg2:hover {
    cursor: pointer;
  }

  .twoImg2 ~ h4:hover {
    cursor: pointer;
  }

  .twoImg2 ~ h5 {
    color: grey;
    font-size: 17px;
    font-style: italic;
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

#navbar{
    height:50px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

#bigersearch{
    width:100%;
    height:250px;
    position: fixed;
    display: none;
     z-index: 1; 
    background-color: white;
}

.containersear{
    position: relative;
    top:0%;
    left:0%;
    width:90%;
    margin:auto;
    padding: 30px;
}
#chottap{
    font-size:9px;
    color:#a1a7b6;
    font-weight: bold;
}

#toclose{
    position: absolute;
    top:0%;
    right:8%;
    font-size:35px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}
#searchbar{
    width:90%;
    height:70px;
    border: transparent;

}
#searchbar:focus{
    outline: none;
}
#searchbar[placeholder]{
    font-size: 35px;
    font-weight: bold;
    color: black;
    border: none;
    
}


#filteredres{
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    display: none;
    position: absolute;
    gap:10px;
    /* added just now */
    height:200px;
    width:400px;
    background-color: white;
    z-index: 2;
    left:5%;
    top:50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.filbox:hover{
    color:#e5b95f;

}
#box>i{
    padding-right:20px;
    font-size: medium;
    color: #e5b95f;
}
img{
    cursor: pointer;
}

#allcartdiv{
    position: absolute;
    top:0%;
    right:0%;
    display: block;
    display: none; 
    height:800px;
    width:300px;
    background: white;
    z-index: 1;
}
#topporcart
{
    height:80px;
    width:300px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#topporcart>p:last-child{
    cursor: pointer;
}
.cartp{
    font-size: 20px;
}

#caltotalcart{
    display: flex;
    justify-content: space-between;
    height: 70px;
    width:300px;
    padding-bottom:15px;
    border: 1px solid #a1a7b6;
    /* margin-top: 20px; */
}
#totalcartval{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 11%;
    margin-right: 5%;
    color: #c7b299;
}

#viewcart1{
    height: 50px;
    width:300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
#checkout1{
    height: 50px;
    width:300px;
    font-weight: 900;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5b95f;
    margin-top: 10px;
    cursor: pointer;
}
#allimg{

    position: relative;
    text-align: center;
    color: white;
    width:100%;
    height:380px;
    
}
#allimg>div{
    display: none;
}
.a1>img{
   width:100%;
   height:380px; 
}
#btn2{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 40%;
    right: 0%;
    border: none;
}
#btn1{
    height: 35px;
    width: 35px;
    position: absolute;
    top:40%;
    left:0%;
    border: none;
}

#btn1:hover,#btn2:hover{
    background-color: #c7b299;
    color: white;
    border: none;
}

#allimg+div{
    display: flex;
    justify-content: center;
}
h3{
    text-align: center;
    font-weight: lighter;
    font-size: 26px;
    border-bottom: 1px solid gold;
    width: 265px;

}
button{
    cursor: pointer;
}

#istconatiner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap:20px;
    margin-top: 50px;
    margin: auto;
    text-align: center;

}
#istconatiner>div{
    /* border:1px solid #e5b95f; */
    border-radius: 30px;
    /* overflow: scroll; */
}

#istconatiner>div:nth-child(4){
    display: block;

}
#istconatiner>button{
    display: none;
}
.a2{
    width:100%;
    border-radius:50px;
    border:2px solid #e5b95f;
    border-radius: 30px;
    cursor: pointer;
}

p{
    font-size: 15px;
    padding:0 10px;
}

#istconatiner+div{
    display: flex;
    justify-content: center;
}

#ndconatiner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,80px);
    width: 60%;
    margin: auto;
    gap:0 20px;
    grid-template-areas:
    "a b c"
    "d e f"
    "g h i"
    "g h i"
    "j k l" ;
}
#ndconatiner>div{
    border: 1px solid rgb(214, 207, 207);
}

#ndconatiner>div:nth-child(1)
{
    grid-area: a;
}
#ndconatiner>div:nth-child(2)
{
    grid-area: b;
}
#ndconatiner>div:nth-child(3)
{
    grid-area: c;
}
#ndconatiner>div:nth-child(4)
{
    grid-area: d;
}
#ndconatiner>div:nth-child(5)
{
    grid-area: e;
}
#ndconatiner>div:nth-child(6)
{
    grid-area: f;
}
#ndconatiner>div:nth-child(7)
{
    grid-area: g;
}
#ndconatiner>div:nth-child(8)
{
    grid-area: h;
}
#ndconatiner>div:nth-child(9)
{
    grid-area: i;
}
#ndconatiner>div:nth-child(10)
{
    grid-area: j;
}
#ndconatiner>div:nth-child(11)
{
    grid-area: k;
}
#ndconatiner>div:nth-child(12)
{
    grid-area: l;
}

#ndconatiner>div>p:nth-child(1){
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    }
#ndconatiner>div>p:nth-child(2){
font-size: 12px;
text-align: center;
}
.strike{
    display: flex;
    justify-content: center;
}
.strike>p:nth-child(1){
    font-weight: bold;
}
.strike>p:nth-child(2){
    text-decoration: line-through;
}

#ndconatiner>div:nth-child(7)>p:nth-child(1),#ndconatiner>div:nth-child(8)>p:nth-child(1),#ndconatiner>div:nth-child(9)>p:nth-child(1){
    font-size:12px;
    color: #e5b95f;
}

#ndconatiner>div:nth-child(7)>p:nth-child(2){
    font-size:15px;
    font-weight: bold;
    padding-top: 15px;
}
.lwbtn{
    background-color:#e5b95f ;
    border-color: white;
    color: white;
    width:80%;
    height:30%;
}
.last{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5b95f;
}

#late{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
#bagscont{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:auto;
    gap:20px;
    width:60%;
    margin:auto;
    margin-top: 10px;
    position: relative;
}
#button5{
    height:30px;
    width:30px;
    position: absolute;
    left:0%;
    top:23%;
    background: transparent;
    border: none;
    font-size: large;
    color:grey;
    cursor: pointer;
}
#button6{
    height:30px;
    width:30px;
    position: absolute;
    right:0%;
    top:23%;
    background: transparent;
    font-size: larger;
    color:grey;
    border: none;
    cursor: pointer;
}
.pick{
    height:170px;
    width:100%;
}

#bagscont>div{
    /* border: 1px solid red; */
}

.pricediv{
    display: flex;
    justify-content: flex-start;
}

#bagscont>div:nth-child(5),#bagscont>div:nth-child(6){
    display: none;
}



  #class{ 
    color:white;
      background-color: blue;
  }

  /* jenny css */


  box>i{
    padding-right: 10px;
    font-size: small;
    color: #e5b95f;
  }
  img{
    cursor: pointer;
  }
  
  #allimg1{
    background: url("https://cdn.shopify.com/s/files/1/0052/7551/6995/files/Testimonial-Final_2048x.png?v=1548829465");
  
    position: relative;
    text-align: center;
    color:black;
    width:100%;
    height: 550px;
    margin-top: 40px;
    
  }
  #allimg1>div{
    display: none;
  }
  .a1>p{
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-font-smoothing: antialiased;
   font-family: poppins;
   text-align: center;
   line-height: 30px;
   box-sizing: border-box;
   margin: 0 0 10px;
   font-size: 18px;
   font-weight: 400;
   font-style: normal;
   padding: 0 15px;
   margin-top: 20px;
   margin-bottom: 0;
   color: #000;
  }
  .quotes{
    width: 90px;
    height: 90px;
  }
  .line{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 700px;
    margin-left: 600px;
  }
  #allimg1>h3{
    -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-weight: 350;
  margin: 0;
  font-size: 34px;
  line-height: 40px;
  color: #222;
  display: inline-block;
  margin-bottom: 30px;
  letter-spacing: -.5px;
  font-family: roboto;
  border-bottom: 2px double #e5b95f;
  
  padding: 21px;
  text-transform: uppercase;
  text-align: center;
  
  }
  
  #btn2{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 40%;
    right: 0%;
    border: none;
  }
  #btn1{
    height: 35px;
    width: 35px;
    position: absolute;
    top:40%;
    left:0%;
    border: none;
  }
  
  #btn1:hover,#btn2:hover{
    background-color: #c7b299;
    color: white;
    border: none;
  }
  
  #allimg1+div{
    display: flex;
    justify-content: center;
  }
  h3{
    text-align: center;
    font-weight: lighter;
    font-size: 26px;
    border-bottom: 1px solid gold;
    width: 265px;
  
  }
  button{
    cursor: pointer;
  }
  .parent{
    display: grid;
    grid-template-columns: repeat(8, 180px);
    grid-template-rows: repeat(1, 200px);
    justify-content: center;
    margin-top: 10%;
    width: 100%;
    height: 100%;

}
#header>h2{
    text-align: center;
    color: black;
    margin-bottom: -120px;
    margin-top: auto;
    
}
.parent>div{

 box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}


img{
    height: 100%;
    width: 100%;
}


#parent1{
    display: grid;
    gap:  40px;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(1, 150px);
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
    padding: 100px;
    background-color: rgb(240, 191, 76);
    height: 400px;
    margin:60px 0px 5px 0px;


}
#parent1>div:nth-child(6),#parent1>div:nth-child(7),#parent1>div:nth-child(8),#parent1>div:nth-child(9),#parent1>div:nth-child(10){
    display: none;
}






#parent1>img{
    text-align: center;
}
#child>img{ 

		width: 180px;
        height: 80px;
}
@media all and (min-width: 381px) and (max-width: 700px) {
  #parent1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* small */
@media all and (min-width: 50px) and (max-width: 380px) {
  #parent1{
    grid-template-columns: repeat(1, 1fr);
  }
}

/* jenny footer */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    
  }
  .info title1{
      color: black;
  }
  
  
  
  .info{
      color: gray;
      
      font-family: "Poppins" ;
  }
  
  
  .title1{
      font-size: 20px;
  }
  .tbox{
      color: black;
  }
  a{
      text-decoration: none;
  }
  
  
  p:hover{
      color: rgb(229, 185, 95);
  }
  li a:hover{
      text-decoration: none;
      color: rgb(229, 185, 95);
      
  }
  .footericon{
      text-align: center;
      margin: auto;
      width: 50%;
  }
  
  
  
  .icon{
      height: 50px;
      width: 50px;
      background-color: #f3f3f3;
      border-radius: 100%;
      padding: 17px;
  }
  
  
  .ftext{
      margin: 10px 0px;
  }
  
  
  
  body{
    min-height: 100vh;
    width: 100%;
    
  }
  footer{
    background:white;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #7d7d7d;
    font-family: poppins;
    list-style: none;
    letter-spacing: .5px;
    line-height: 30px;
    cursor: pointer;
    color: #7d7d7d;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .link_name{
      color: black;
  }
  
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    color: black;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    background: white;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color:#7d7d7d;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
    
  }
  .top .media-icons a:nth-child(1){
    background: whitesmoke;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color:black;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
   
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: white;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 12px;
    color: black;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    color: white;
    background-color: rgb(240, 191, 76);
    border: none;
    font-size: 14px;
    font-weight: 400;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 100px;
    text-align: center;
    margin-left: 300px;
    margin-top: -40px;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: white;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #7d7d7d;
  
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
      
  
  .try{
      display: block;
      border: 2px solid red;
  }
  
  
  
  .facebook1 i:hover{
      color: white;
      background-color: 	#4267B2;
  }
  
  .twitter1 i:hover{
      color: white;
      background-color: #00ACEE;
  }
  
  .youtube1 i:hover{
      color: white;
      background-color: 	#FF0000;
  }
  
  .insta1 i:hover{
      color: white;
      background:radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  }
  
  
  
    
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }
  



  /* harapriya */
#stcon{
    font-size: 18px;
    line-height: 30px;
    display: none;
    z-index: 1;
    position:fixed;
    top:6%;
    right: 0%;
    height: 140px;
    width:200px;
    background-color: white;
    text-align: center;
   
    
    
}
#stcon:hover{
    display: block;
}
#fstcon{
    justify-content: space-between;
    display:flex;
    width: 10%;
    padding-left: 40px;
}
#fstcon>div:nth-child(2):hover{
     color:#e5b95f;
}
#fstcon>div:nth-child(3):hover{
    color:#e5b95f;
}
#opn{
    padding-left: 8px;
}

/* harapriya */

@media all and (min-width:500px) and (max-width:828px)
{
    #istconatiner{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        gap:20px;
        margin-top: 50px;
        text-align: center;
        position: relative;
        margin: auto;
    
    }
    #istconatiner>div{
        /* border:1px solid #e5b95f; */
        border-radius: 30px;
        /* overflow: scroll; */
    }
    #istconatiner>div:nth-child(4){
        display: none;

    }

    #btn11{
        position:absolute;
        width:30px;
        height:30px;
        top:36%;
        background: transparent;
        border: none;
        color: grey;
        font-size: x-large;
    }
    #btn22{
        position: absolute;
        width:30px;
        height:30px;
        right:0;
        top:36%;
        background: transparent;
        border: none;
        color: grey;
        font-size: x-large;
    }
    #istconatiner>button{
        display: block;
    }


    #ndconatiner{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(5,auto);
        width: 80%;
        margin: auto;
    }

    #bagscont{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:auto;
        gap:20px;
        width:100%;
        margin:auto;
        margin-top: 10px;
        position: relative;
    }

    #bagscont>div:nth-child(4),#bagscont>div:nth-child(5),#bagscont>div:nth-child(6){
        display: none;
    }

    #button6{
        height:30px;
        width:30px;
        position: absolute;
        right:0%;
        top:23%;
        background: transparent;
        font-size: larger;
        color:grey;
        border: none;
        cursor: pointer;
    }
}
@media all and (min-width:400px) and (max-width:500px)
{
    #istconatiner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap:20px;
        margin-top: 50px;
        text-align: center;
        position: relative;
        margin: auto;
    
    }
    #istconatiner>div{
        /* border:1px solid #e5b95f; */
        border-radius: 30px;
        /* overflow: scroll; */
    }
    #istconatiner>div:nth-child(4),#istconatiner>div:nth-child(3){
        display: none;
        
    }

    #ndconatiner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(7,auto);
        width: 100%;
        margin: auto;
        gap:0 20px;
        grid-template-areas:
        "a b "
        "c d "
        "e f "
        "g g "
        "h h "
        "i i "
        "j j "
        ;
    }

    #ndconatiner>div:nth-child(11)
    {
        display: none;
    }
    #ndconatiner>div:nth-child(12)
   {
       display: none;
   }

   #bagscont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:auto;
    gap:20px;
    width:100%;
    margin:auto;
    margin-top: 10px;
    position: relative;
}

#bagscont>div:nth-child(3),#bagscont>div:nth-child(4),#bagscont>div:nth-child(5),#bagscont>div:nth-child(6){
    display: none;
}

#button6{
    height:30px;
    width:30px;
    position: absolute;
    right:0%;
    top:23%;
    background: transparent;
    font-size: larger;
    color:grey;
    border: none;
    cursor: pointer;
}
}
@media all and (min-width:50px) and (max-width:398px)
{
    #navbar{
        height:50px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navbar>div:nth-child(1)
    {
        display: none;
    }
    #istconatiner{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap:20px;
        margin-top: 50px;
        text-align: center;
        position: relative;
        margin: auto;
    
    }
    #istconatiner>div{
        /* border:1px solid #e5b95f; */
        border-radius: 30px;
        /* overflow: scroll; */
    }
    #istconatiner>div:nth-child(2){
        display: none;
        
    }
    #ndconatiner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,auto);
        width: 100%;
        margin: auto;
        gap:0 20px;
        grid-template-areas:
        "a b "
        "c d "
        "e f "
        "j j "
        ;
    }

    #ndconatiner>div:nth-child(11),div:nth-child(7),div:nth-child(8),div:nth-child(9)
    {
        display: none;
    }
    #ndconatiner>div:nth-child(12)
   {
       display: none;
   }

   #bagscont{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto;
    gap:20px;
    width:100%;
    margin:auto;
    margin-top: 10px;
    position: relative;
}

#bagscont>div:nth-child(2),div:nth-child(3),#bagscont>div:nth-child(4),#bagscont>div:nth-child(5),#bagscont>div:nth-child(6){
    display: none;
}

#button6{
    height:30px;
    width:30px;
    position: absolute;
    right:0%;
    top:23%;
    background: transparent;
    font-size: larger;
    color:grey;
    border: none;
    cursor: pointer;
}
}