.footermain{
    justify-content: center;
    margin-top:25px
}
.footer{
    background-color: rgb(255,255,255);
    padding:10px;
    display:flex;
justify-content: space-around;

}
.footer>div{
width: 30%;
/* border: 1px solid red; */
justify-content: left;
}
.information>p{
    color:grey;
}
.information>p:hover{
    cursor: pointer;
    color:#e5b95f;
}
.subscribediv{
    display:flex;
    margin-left: 50px;
}
.subscribe_input{
    border: none;
  /* border-bottom: 2px solid black; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height:40px;
  border-radius:10px;
  width:50%;
 
}
.subscribe_btn{
    height:40px;
  border-radius:10px;
  color:white;
  background-color:#e5b95f;
  cursor: pointer;
  margin-left:10px;
}
.subscribe_btn:hover{
    cursor:pointer;
    background-color:black;

}

#socialmediadiv1{
   width: 35px;
   height: 25px;
   /* border: 1px solid red; */
   justify-items: center;
   margin-left: 15px;
   padding:10px;
   border-radius:50%;
   background-color:rgb(237, 235, 235);
   /* color:rgb(26, 57, 147); */
}
#socialmediadiv1:hover{
    background-color:rgb(72,103,170)
}
#socialmediadiv2{
    width: 35px;
   height: 25px;
   /* border: 1px solid red; */
   justify-items: center;
   margin-left: 15px;
   padding:10px;
    border-radius:50%;
    background-color:rgb(237, 235, 235);
    /* color:rgb(26, 57, 147); */
 }
 #socialmediadiv2:hover{
    background-color:rgb(29,161,242);
    
}
 #socialmediadiv3{
    width: 35px;
   height: 25px;
   /* border: 1px solid red; */
   justify-items: center;
   margin-left: 15px;
   padding:10px;
    border-radius:50%;
    background-color:rgb(237, 235, 235);
    /* color:rgb(26, 57, 147); */
 }
 #socialmediadiv3:hover{
    background-color:rgb(190, 59, 171);
}
 #socialmediadiv4{
    width: 35px;
    height: 25px;
    /* border: 1px solid red; */
    justify-items: center;
    margin-left: 15px;
    padding:10px;
    border-radius:50%;
    background-color:rgb(237, 235, 235);
    /* color:rgb(26, 57, 147); */
 }
 #socialmediadiv4:hover{
    background-color:rgb(247,0,0);
    
}
.fa-brands{
    color:rgb(126,126,126);
}